<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>TripLeader</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <link href="bower_components/ng-grid_2.0.14.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">

    <!-- inject:css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endinject -->
  </head>
  <body ng-app="app" ng-controller="LayoutController as layoutController" ng-cloak>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a style="padding: 0px" target="_blank" class="navbar-brand" href="http://www.tampabaysnowskiers.com/"><img src="logo.png" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a ng-href="/">Home <span class="sr-only">(current)</span></a></li>
                  <!--<li ng-hide="loggedIn"><a href="#/login">Sign In</a></li>-->
                  <!--<li class="dropdown">-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span ng-show="loggedIn">Welcome -Trip Leader- <span class="caret"></span></span></a>-->
                      <!--<ul ng-show="loggedIn" class="dropdown-menu" role="menu">-->
                          <!--<li><a href="#">Action</a></li>-->
                          <!--<li><a href="#">Another action</a></li>-->
                          <!--<li><a href="#">Something else here</a></li>-->
                          <!--<li class="divider"></li>-->
                          <!--<li><a href="#">Separated link</a></li>-->
                          <!--<li class="divider"></li>-->
                          <!--<li><a href="#">One more separated link</a></li>-->
                      <!--</ul>-->
                  <!--</li>-->
              </ul>
              <form ng-hide="layoutController.identity.isAuthenticated()" class="navbar-form navbar-left" role="login">
                  <div class="form-group">
                      <input type="text" ng-model="layoutController.tripDestination" placeholder="Trip Name" typeahead="tripName for tripName in layoutController.tripNames | filter:$viewValue | limitTo:8" class="form-control">
                      <!--<input type="text" class="form-control" placeholder="Trip Name" ng-model="layoutController.tripDestination">-->
                      <input type="password" class="form-control" placeholder="Password" ng-model="layoutController.tripPassword">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="layoutController.signin(layoutController.tripDestination, layoutController.tripPassword)">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-left" ng-show="layoutController.identity.isAuthenticated()">
                  <li class="dropdown">
                      <a class="dropdown-toggle" href="" data-toggle="dropdown">{{layoutController.identity.currentTrip.loginId}}
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="/editTrip">Trip Settings</a></li>
                          <li class="divider"></li>
                          <li><a href="" ng-click="layoutController.signout()">Sign Out</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                      </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>

    <content>
      <div class="container" ng-view="">
      </div>
    </content>

    <footer>
      
    </footer>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->


    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ng-grid_2.0.14.js"></script>

    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/LayoutController.js"></script>
    <script src="/js/controllers/MainController.js"></script>
    <script src="/js/controllers/RegisterController.js"></script>
    <script src="/js/controllers/TravelerController.js"></script>
    <script src="/js/controllers/TripHomeController.js"></script>
    <script src="/js/services/AuthService.js"></script>
    <script src="/js/services/DataServices.js"></script>
    <script src="/js/services/IdentityService.js"></script>
    <script src="/js/services/Notifier.js"></script>
    <!-- endinject -->
  </body>
</html>
