<ng-form name="login" class="col-md-6">
    <div class="fieldset">
        <div class="form-group">
            <input name="tripLeaderName" id="tripLeaderName" type="text" required="required" ng-model="tripLeader.name" ng-auto-focus="ng-auto-focus" placeholder="Trip Leader Name" class="form-control"/>
        </div>
        <div class="form-group">
            <input name="password" id="password" type="text" required="required" ng-model="tripLeader.password" placeholder="Trip Leader Password" class="form-control"/>
        </div>
        <button class="btn btn-success" ng-click="validateLogin(tripLeader)">Submit<!--ng-disabled="newPlacementForm.$invalid",--></button>
        <button type="button" class="btn btn-default" ng-click="returnToHome()">Cancel</button>

    </div>
</ng-form>