<div class="jumbotron">
    <div class="row">
        <img src="logo_big.png" class="col-sm-2">
        <h1 class="col-sm-10">Tampa Bay Snow Skiers & Boarders TripLeader App</h1>
    </div>
    <p><a class="btn btn-lg btn-success" ng-href="/register"><span class="glyphicon glyphicon-plus" style="margin-right: 5px"></span>Create New Trip</a>
    </p>
</div>

<div class="row marketing">
    <h4>Welcome!</h4>

    <p>
        To get started, click the "Create New Trip" button above or log in to an existing trip at the top of the page.
    </p>

</div>
