<ng-form name="travelerForm" class="col-md-6">
    <div class="fieldset">
        <div class="form-group">
            <label for="travelerName">Traveler Name</label>
            <input name="travelerName" id="travelerName" type="text" required="required" ng-model="travelerController.traveler.name" ng-auto-focus="ng-auto-focus" placeholder="Traveler Name" class="form-control"/>
        </div>
        <button class="btn btn-success" ng-click="travelerController.createTrip(travelerController.traveler)">Save<!--ng-disabled="newPlacementForm.$invalid",--></button>
        <button type="submit" class="btn btn-default" ng-click="travelerController.returnToHome()">Cancel</button>

    </div>
</ng-form>